input {
    display: block;
    margin-bottom: 5px;
    margin-top: 2px;;
}

.card {
    margin: 3px;
    box-shadow: 2px 2px rgb(73, 73, 73);
}

.inputBtn {
    height: 30px;
    margin-left: 5px;
}

.search {
    box-shadow: 1px 1px rgb(73, 73, 73);
}